.footer {
  background-color: #2f303a;
  & .container {
    padding-top: 60px;
  }
}
.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: space-between;
}

.logo-footer {
  margin-bottom: 20px;
}
.logo {
  text-decoration: none;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .footer-nav {
    .logo {
      margin: auto;
    }
  }
}

.logo-footer-studio {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.logo-footer {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $accent-color;
}

.footer-address-map-link {
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.footer-address-mail-link,
.footer-address-tel-link {
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  text-decoration: none;
}

.footer-address-list-map {
  margin-bottom: 9px;
}

.footer-address-list-mail {
  margin-bottom: 9px;
}

@media screen and (max-width: 1199px) {
  .footer-address-list {
    text-align: center;
    margin-bottom: 30px;
  }
}

.social-list-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-bottom: 50px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #f5f4fa;
    background-color: #2196f3;
  }
}

.social-list-footer {
  display: flex;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-left: 0;
    justify-content: center;
  }
}
.social-list-item-footer:not(:last-child) {
  margin-right: 10px;
}

.social-link-icon-footer {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .social-list-link-footer:hover &,
  .social-list-link-footer:focus & {
    fill: #ffffff;
  }
}

.join-us {
  display: flex;
  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 30px;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin: 0 auto 30px auto;
    justify-content: center;
  }
}

.join {
  margin-left: 70px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-left: 0;
  }
}

.sign {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: center;
    .sign-wrapper {
      text-align: center;
    }
    .sign-us-btm {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.sign {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    display: flex;
  }
  .sign-wraper {
    display: flex;
  }
  .footer-div {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-div {
    display: flex;
    justify-content: space-between;
  }
}

.sign-us-icon {
  width: 24px;
  height: 24px;
  margin-left: 20px;
  margin-top: 5px;
}
.sign-us-field {
  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 10px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 70px;
  }
}

.sign-us-btm {
  display: flex;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border: none;
  margin-left: 12px;
  margin-top: 31px;
  padding-left: 29px;
  padding-top: 10px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin: 0 auto;
  }
}

.sign-us-email {
  display: flex;
  width: 358px;
  height: 50px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  padding-left: 16px;
  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  &:focus {
    outline: none;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin: 20px auto;
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-wrapper {
    padding-right: 76px;
    padding-left: 89px;
  }
}
