.occupation-title,
.team-title,
.clients-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.occupation .list {
  display: flex;
  justify-content: space-between;
}
.thumb {
  position: relative;
  overflow: hidden;
  background: rgba(47, 48, 58, 0.8);
}

.label {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 27px 82px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}
